<footer class="main-footer">
  <!-- To the right -->
  <div class="float-right d-none d-sm-inline">
    Team Project Management
  </div>
  <!-- Default to the left -->
  <strong>Copyright &copy; 2016-2020 <a href="https://diveintocode.jp">DIVEINTOPOST</a>.</strong> All rights reserved.
</footer>
