<div class="col-md-8 mx-auto">
  <p id="notice"><%= notice %></p>

  <div class="py-2">
    <h1 class="text-center">Agendas</h1>
  </div>

  <% @agendas.includes(:articles).each do |agenda| %>
    <div class="card rounded-0">
      <div class="card-header  bg-info">
        Agenda title: <%= agenda.title %>
        <a style="cursor: pointer;" class="close" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </a>
      </div>
      <div class="card-body">
        <% agenda.articles.each do |article| %>
          <span>Article title: <%= article.title %></span>
        <% end %>
      </div>
    </div>
  <% end %>

</div>

<br>

<div class="text-center">
  <%= link_to 'New Agenda', new_team_agenda_path, class: "btn btn-sm btn-success mb-4" %>
</div>
